.center {
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
}

#photos {
  /* Prevent vertical gaps */
  line-height: 0;

  -webkit-column-count: 5;
  -webkit-column-gap:   0px;
  -moz-column-count:    5;
  -moz-column-gap:      0px;
  column-count:         5;
  column-gap:           0px;
  style: center;
}

#photos img {
  /* Just in case there are inline attributes */
  width: 100% !important;
  height: auto !important;
}
body {
   background-color: #ff7d7d;
  font-family: Times ;
  font-size: 25px;

}


.topnav {
  overflow: hidden;
  background-color: #191970;
}

.topnav a {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: blue;
  color: white;
}

 {
    box-sizing: border-box;
}
